allow init vfat:file { read open };
allow init socket_device:sock_file { create setattr unlink };
allow init debugfs:file write;
allow init proc_touchpanel:file write;
allow init sysfs:dir write;
allow init proc_kernel_sched:file rw_file_perms;

domain_trans(init, rootfs, dashd)
